/*
Style sheet
*/

body
{
    background-color: #E1E4E0;
    font-family: "Cambria";
}

/*
header
*/
header
{
    width: 65%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1
{ 
    color: black;
    float: left;
    padding-top: 0px;
}

#nav_header_list
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav_header_item
{
    padding-top: 34px;
    padding-bottom: 0px;
}

.nav_header_item:hover
{
    border-bottom: 2px solid;
}

.nav_link
{
    text-decoration: none;
    font-size: large;
    color: black;
}

.nav_link:visited
{
    color: black; 
}

#social_block
{
}

#github_link
{
    float: right;
    margin-top: 25px;
}

/*
footer
*/

footer
{
    width: 65%;
}