/*
Style sheet
*/

/*
block 
*/
body
{
    background-color: #f1e4e4;
}

header
{
    border: 1px solid black;
    width: 65%;
    margin: auto;
}

h1
{
    border: 1px solid black;
}

footer
{
    border: 1px solid black;
    width: 65%;
    margin: auto;
}

/*
class
*/

.li_header_item
{
    border: 1px solid black;
}

/*
id
*/
#header
{
    display: flex;
    justify-content: space-between;
}

#nav_header_list
{
    border: 1px solid blue;
    width: 35%;
    margin: auto;
}

#ul_header_list
{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
}

#social_block
{
    border: 1px solid black;
}