/*
Style sheet
*/

/*
block 
*/
body
{
    background-color: #E1E4E0;
    font-family: "Cambria";
}

header
{
    width: 65%;
    margin: auto;
}

h1
{ 
}

footer
{
    width: 65%;
    margin: auto;
}

/*
class
*/
.nav_link
{
    text-decoration: none;
    font-size: large;
    color: black;
}

.nav_link:hover
{
    font-weight: bold;
}

.nav_link:visited
{
    color: black; 
}

/*
id
*/
#header
{
    display: flex;
    justify-content: space-between;
}

#nav_header_list
{
    width: 30%;
    margin: auto;
}

#ul_header_list
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0%;
}

#social_block
{
}

#github_link
{
    padding-top: 60%;
}