*, ::after, ::before { 
    box-sizing: border-box; 
}
html { 
    width: 100%; 
    height: 100%; 
    font-size: 62.5%; 
}
body { 
    width: 100%; 
    height: 100%; 
    background: black; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}

/* Loader 1 */
.loader-1 {
    position: absolute;
    top: 250px;
    left:700px;
	height: 32px;
	width: 32px;
	/* animation: loader-1-1 4.8s linear infinite; */
}

@keyframes loader-1-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.loader-1 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 200px;
	width: 200px;
	clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    /* border: 3px solid red; */
	/* animation: loader-1-2 4s linear infinite; */
}

@keyframes loader-1-2 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.loader-1 span::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 200px;
	width: 200px;
	clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
	border: 3px solid #FFF;
	border-radius: 50%;
	animation: loader-1-3 4s linear infinite;
}

@keyframes loader-1-3 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}