html,
body {
  height: 100%;
}

body {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 120px;
  height: 120px;
  transform: rotate(-90deg);
  stroke-linecap: round;
  stroke-width: 4;
  fill: none;
}

.loader .internal-circle {
    stroke: #fff;
    stroke-dashoffset: 0;
    transform-origin: center;
}

.loader .internal-circle {
    stroke-dasharray: 187;
    animation: internal 1s ease-in-out infinite;
    opacity: .4;
}

@keyframes internal {
  0% {
    stroke-dashoffset: 187;
  }
  25% {
    stroke-dashoffset: 80;
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(360deg);
  }
}